@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body{
	padding:48px 24px 0 24px;
	padding:0 1.5rem 0 1.5rem;
	background-color: #f2f2f2;
	color: #444444 !important;
	font-size: 1rem !important;
	line-height: 1.5;
	font-family: 'Lato', sans-serif !important;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre,
hr{
	margin-top: 0;
	margin-bottom: 12px;
	margin-bottom: 0.75rem;
}

ul, ol, dd {
	margin-left: 48px;
	margin-left: 3rem;
}

hr{
	margin:0 -24px 12px -24px;
	margin:0 -1.5rem .75rem -1.5rem;
	border: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	color: #f2f2f2;
}

a{
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	color: #0589c7;
	text-decoration: none;
 }

a:hover,
a:active,
a:focus{
	color: #046e9f;
	text-decoration: none;
 }

 footer{
	margin-bottom: 24px;
	margin-bottom:1.5rem;
	text-align: center;
	color:white;
 }

h1, h2{
	font-weight: 300;
}

h1{
	font-size: 36px;
	font-size: 2.25rem;
	line-height: 1.33333;
}

h2{
	font-size: 30px;
	font-size: 1.875rem;
	line-height: 1.6;
}

.logo{
	display: block;
	margin: -32px auto -32px auto;
	margin: -2rem auto -2rem auto;
}

.wrapper{
	max-width: 800px;
	max-width: 50rem;
	margin:0 auto 24px auto;
	margin:0 auto 1.5rem auto;
	padding:24px;
	padding:1.5rem;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	border-radius:4px;
}

.box{
	margin:0 auto 24px auto;
	margin:0 auto 1.5rem auto;
	width:350px;
}

.last{
	margin-bottom: 0 !important;
}

body{
	background: url('../img/bg.png');
}