/* Styles used by Ext.ux.form.ItemSelector */

.x-form-multiselect-body .x-boundlist .x-mask {
    background: none;
}

.x-form-itemselector-body .x-form-item {
    margin: 0;
}

.x-form-itemselector-top {
    background-image: url("<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.itemselector.top.gif")%>");
}
.x-form-itemselector-up {
    background-image: url("<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.itemselector.up.gif")%>");
}
.x-form-itemselector-add {
    background-image: url("<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.itemselector.right.gif")%>");
}
.x-form-itemselector-remove {
    background-image: url("<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.itemselector.left.gif")%>");
}
.x-form-itemselector-down {
    background-image: url("<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.itemselector.down.gif")%>");
}
.x-form-itemselector-bottom {
    background-image: url("<%=WebResource("Ext.Net.Build.Ext.Net.ux.resources.images.itemselector.bottom.gif")%>");
}
